<div class="row">
  <% for post in @posts %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <% if post.user %>
          <%= post.user.first_name %>
        <% else %>
          anonymous
        <% end %>
      </h4>
      <% if post.my_image.attached? %>
        <img src="<%= url_for(post.my_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post.image %>" class="img-fluid">
      <% end %>
      <p><%= post.body %></p>
    </div>
  <% end %>
</div>